<h1>Наши услуги</h1>

<!--<button class="btn">-->
<!--  Show Ids-->
<!--</button>-->
<!--<button class="btn">-->
<!--  Show Ids (program)-->
<!--</button>-->

<!--<div class="card" *ngFor="let post of servicesService.posts">-->
<!--  <h4><a href="#"><strong>(ID {{post.id}})</strong>{{post.title}}</a></h4>-->
<!--</div>-->


<div class="container">

  <div class="card text-center mb-3" *ngFor="let service of dataServices">
    <div class="news-preview"><img [src]="service.urlToImage" alt="no photo"></div>
    <div class="card-body">
      <h3 class="card-title">{{ service.title }}</h3>
      <p class="card-text">{{ service.description }}</p>
      <a href="{{ service.url }}" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>
